<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="icon" href="/static/hralogo.jpg" type="image/png" />
    <title>HRA Chatbot</title>
  </head>
  <body>
    <div class="chatbutton">
      <a href="/chatbot"><button>Open Chatbot</button></a>
    </div>
    <div class="text"><h1>Hello Welcome to chatbot of HRA</h1></div>
    <script src="/static/script.js"></script>
  </body>
</html>
